{% extends 'myapp/base.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/password_change.css' %}">
{% endblock %}
{% block header %}
<head>
    <title>{% block title %}パスワード変更{% endblock %}</title>
</head>
{% endblock%}
{% block content %}
<body>
    <h1>パスワード変更</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.labels.as_p }}
        {{ form.as_p }}
        <button type="submit">パスワード変更</button>
    </form>
</body>
{% endblock %}