{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}">
{% endblock %}

{% block header-title %}<div class="header">会員登録</div>{% endblock %}

{% block content %}
{# signup処理部分 #}
<form method="post" action="{% url 'signup_view' %}" enctype="multipart/form-data" class="signup-form">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}
        {{ field }}
        {# エラーメッセージを表示 #}
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
    </p>
    {% endfor %}
    <button type="submit" class="signup-form__submit">登録</button>
    <div class="back">
        <a href="{% url 'index' %}">戻る</a>
        </div>
</form>

{% endblock %}

{% block footer %}{% endblock %}